html {
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: sans-serif;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #88BDBC;
    overflow-x: hidden;
}


/* Header */

header {
    background-color: #41B3A3;
    height: 55px;
    width: 100vw;
}

.logoimg {
    margin: 9px;
    width: 55px;
}

.logotekst {
    position: absolute;
    margin: 15px 0px;
}


/* Hamburger menu */

.menubody {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(65, 179, 164);
    z-index: 5;
    position: absolute;
    transition: 0.5s;
}

.menu-button {
    position: absolute;
    width: 50px;
    z-index: 8000;
    right: 0;
}

.hamburger {
    margin-top: 15px;
    position: absolute;
    opacity: 0;
    transition: all 0.2s ease;
}

.menuLinkContainer {
    display: none;
}

.menubody a {
    display: block;
    padding: 20px 10px;
    color: black;
    text-decoration: none;
    text-align: center;
}


#top {
    margin-top: 70px;
}

.change {
    opacity: 1;
    transition: opacity 1000ms;
}

.visible {
    opacity: 1;
    transition: all 0.2s ease;
}


/* top bar menu */

.topbarmenu {
    display: none;
    float: right;
    margin: 25px 30px 0px 0px;
}

.topbarmenu a {
    text-decoration: none;
    margin: 0px 10px;
    color: black;
}

/* login form */

.loginform {
    width: 80%;
    margin: 50px auto 20px auto;
    padding: 10px;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    text-align: center;

}

.loginform .title {
    margin: 15px 0px;
    font-size: 1.5rem;
    font-weight: bold;
}

.loginform input[type="text"],
.loginform input[type="password"],
.loginsubmit {
    font-size: .7rem;
    width: 95%;
    height: 40px;
    margin: 10px auto;
    display: block;
    text-align: center;
}

.nieuwacc {
    font-size: .6rem;
    margin: 20px auto;
}

@media only screen and (min-width: 768px) {
    .title {
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
    }

    header {
        height: 80px;

    }
    .logoimg {
        width: 90px;
    }
    .logotekst {
        font-size: 1.2em;
        margin-top: 25px;
    }
    .menu-button {
        display: none;
    }
    /* top bar menu */
    .topbarmenu {
        display: block;
    }
    .menubody {
        display: none;
    }

/*  login form  */

    .loginform {
        width: 400px;
    }

    .loginform input[type="text"],
    .loginform input[type="password"],
    .loginsubmit {
        width: 80%;
    }
}