
/*DE TEKST MOET NOG STYLING KRIJGEN ENZO*/
/*Forms Styling*/
.middle {
    margin-left: auto;
    margin-right: auto;
}
.userinfo {
    width: 90vw;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
.sendweetjes {
    margin-top: 20px;
}
.sendweetjestitle {
    width: 90vw;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    padding: 10px;
    text-align: center;


}
.sendweetjesmain {
    width: 90vw;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
}
.userinfomobile {
    display: block;
}
.userinfodesktop {
    display: none   ;
}
.profielrechts {
    display: none;
}
.informationbody {
    font-size: .7rem;
    width: 95%;
    height: 125px;
    margin: 10px auto;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    display: inline-grid;
    grid-template-rows: auto auto 1fr;
}
.weetjecontainer {
    display: flex;
    flex-direction: row;
}
.sendweetjesdatum {
    font-size: 1rem;
    grid-column: 1/100;
}
.sendweetjesstatus {
    grid-column: 100/100;
    grid-row: 1;
}
.sendweetjesweetje {
    grid-column: 1/99;
    grid-row: 2;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sendweetjesbutton {
    display: none;
}
.fa-upload {
    position: absolute;
    width: 50px;
    z-index: 8000;
    right: 40px;
    top: 13px;
}

.weetjeinsturen {
    width: 25vw;
    height: 810px;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}

.textareamedium, .textarealarge {
    font-size: .7rem;
    width: 95%;
    height: 80px;
    margin: 10px auto;
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
}
.textarealarge {
    height: 400px;
}
.voorbeeldbutton, .submitbutton {
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border: none;
}
.submitbutton {
    width: 70%;
}
.afbeeldingubtton {
    position: relative;

}
.mobileform {
    display: block;
    position: absolute;
    width: 100vw;
}

/*Admin*/
.welkomadmin {
    width: 90vw;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;

}
.adminkeurweetje {
    width: 90vw;
    height: 500px;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
}

.admincontainer {
    display: flex;
    flex-direction: column;
}
.keurbutton {
    width: 80vw;
    height: auto;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
}
.buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keurbutton a {
    color: black;
    text-decoration: none;
}
@media only screen and (min-width: 768px) {
    .fa-upload {
        display: none;
    }
    .sendweetjesbutton {
        padding: 2px;
        border: 1px solid black;
        width: auto;
        text-align: center;
        grid-column: 100 / 100;
        grid-row: 5;
    }

    .userinfo {
        width: 40vw;
        height: auto;
        padding: 10px;
    }

    .userinfomobile {
        display: none;
    }
    .userinfodesktop {
        display: block;
    }

    .sendweetjestitle {
        width: 40vw;
        padding: 10px;
    }
    .sendweetjesmain {
        width: 40vw;
        padding: 10px;
        height: 600px;


    }
    .sendweetjesmaindp {
        display: flex;
        flex-direction: column;
    }


    .profielrechts {
        display: block;
    }
    .weetjeinsturen {
        width: 25vw;
        height: 810px;
        background-color: rgb(65, 179, 164);
        border-radius: 15px;
        margin-top: 10px;
        padding: 10px;
    }

    .textareamedium, .textarealarge {
        font-size: .7rem;
        width: 95%;
        height: 80px;
        margin: 10px auto;
        display: block;
        text-align: center;
        border: 0;
        border-radius: 5px;
    }
    .textarealarge {
        height: 400px;
    }
    .voorbeeldbutton, .submitbutton {
        width: 95%;
        height: auto;
        background-color: white;
        border-radius: 5px;
        margin: 10px auto;
        text-align: center;
        padding: 10px;
        border: none;
    }
    .submitbutton {
        width: 70%;
    }
    .afbeeldingubtton {
        position: relative;

    }


    .weetjevoorbeeld {
        width: 90%;
        height: 800px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        background-color: white;
        z-index: 100;
        border-radius: 15px;
    }
}