
/*DE TEKST MOET NOG STYLING KRIJGEN ENZO*/
/*Forms Styling*/
.middle {
    margin-left: auto;
    margin-right: auto;
}
.userinfo {
    width: 90vw;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}
.sendweetjes {
    width: 50vw;
    margin-top: 20px;
}
.sendweetjestitle {
    width: 90vw;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    padding: 10px;
    text-align: center;


}
.sendweetjesmain {
    width: 90vw;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
}
.userinfomobile {
    display: block;
}
.userinfodesktop {
    display: none   ;
}
.profielrechts {
    display: none;
}
.informationbody {
    font-size: .7rem;
    width: 95%;
    height: auto;
    min-height: 125px;
    margin: 10px auto;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    display: inline-grid;
    grid-template-rows: auto auto 1fr;
}
.weetjecontainer {
    display: flex;
    flex-direction: row;
}
.sendweetjesdatum {
    font-size: 1rem;
    grid-column: 1/100;
}
.sendweetjesstatus {
    grid-column: 100/100;
    grid-row: 1;
}
.sendweetjesweetje {
    grid-column: 1/99;
    grid-row: 2;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.sendweetjesbutton {
    display: none;
}
.fa-upload {
    position: absolute;
    width: 50px;
    z-index: 8000;
    right: 40px;
    top: 13px;
}

.weetjeinsturen {
    width: 25vw;
    height: 810px;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
}

.textareamedium, .textarealarge {
    font-size: .7rem;
    width: 95%;
    height: 80px;
    margin: 10px auto;
    display: block;
    text-align: center;
    border: 0;
    border-radius: 5px;
    resize: none;
}
.textarealarge {
    height: 400px;
}
.voorbeeldbutton, .submitbutton {
    display: block;
    width: 95%;
    height: auto;
    background-color: white;
    border-radius: 5px;
    margin: 10px auto;
    text-align: center;
    padding: 10px;
    border: none;
}
.submitbutton {
    width: 70%;
}
.afbeeldingubtton {
    position: relative;

}
.mobileform {
    display: block;
    position: absolute;
}

/*Admin*/
.welkomadmin {
    width: 100%;
    height: auto;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;

}
.adminkeurweetje {
    width: 90vw;
    height: 500px;
    background-color: rgb(65, 179, 164);
    border-radius: 15px;
    margin-top: 10px;
}

.admincontainer {
    display: flex;
    flex-direction: column;
}

.admincontainerdp {
    display: none;
}
.keurbutton {
    width: 80vw;
    height: auto;
    background-color: white;
    text-align: center;
    border-radius: 15px;
    margin-top: 10px;
}
.buttoncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.keurbutton a {
    color: black;
    text-decoration: none;
}
@media only screen and (min-width: 875px) {
    .fa-upload {
        display: none;
    }
    .sendweetjesbutton {
        padding: 2px;
        border: 1px solid black;
        width: auto;
        text-align: center;
        grid-column: 100 / 100;
        grid-row: 5;
    }

    .userinfo {
        width: 50vw;
        height: auto;
        padding: 10px;
    }

    .userinfomobile {
        display: none;
    }
    .userinfodesktop {
        display: block;
    }

    .sendweetjestitle {
        width: 50vw;
        padding: 10px;
    }
    .sendweetjesmain {
        width: 50vw;
        padding: 10px;
        height: 610px;
        overflow-y: scroll;
    }
    .sendweetjesmaindp {
        display: flex;
        flex-direction: column;

    }

    .profielrechts {
        display: block;
    }
    .weetjeinsturen {
        width: 30vw;
        height: 810px;
        background-color: rgb(65, 179, 164);
        border-radius: 15px;
        margin-top: 10px;
        padding: 10px;
    }

    .textareamedium, .textarealarge {
        font-size: .7rem;
        width: 95%;
        height: 80px;
        margin: 10px auto;
        display: block;
        text-align: center;
        border: 0;
        border-radius: 5px;
    }
    .textarealarge {
        height: 400px;
    }
    .voorbeeldbutton, .submitbutton {
        width: 95%;
        height: auto;
        background-color: white;
        border-radius: 5px;
        margin: 10px auto;
        text-align: center;
        padding: 10px;
        border: none;
    }
    .submitbutton {
        width: 70%;
    }
    .afbeeldingubtton {
        position: relative;

    }


    .weetjevoorbeeld {
        width: 90%;
        height: 800px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        background-color: white;
        z-index: 100;
        border-radius: 15px;
    }
    .adminkeurweetje {
        width: 55vw;
        height: 700px;
    }
    .adminusers{
        display: flex;
        flex-direction: column;
        align-items: center;
        float: right;
        width: 30vw;
        height: 700px;
        background-color: rgb(65, 179, 164);
        border-radius: 15px;
        margin-top: 10px;
        overflow-y: scroll;
    }
    .admincontainer {
        display: none;
    }
    .admincontainerdp {
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .admincontainerdp2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .keurweetjedp {
        display: flex;
        flex-direction: row;
        padding: 10px;

    }
    .keurweetjedpinfo {
        width: 80%;
        height: auto;
        min-height: 140px;
        background-color: white;
        border-radius: 15px;
        display: inline-grid;
        grid-template-rows: auto auto 1fr;
        padding: 10px;
    }
    .keurweetjedpkeur {
        width: 20%;
        height: 140px;
        background-color: white;
        margin-left: 10px;
        border-radius: 15px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .keurweetjebuttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10px;
        width: 100%;
    }
    }
    .keurweetjeweetje {
        grid-column: 1/99;
        grid-row: 2;
    }
    .keurweetjedatum {
        font-size: 1.2rem;
        grid-column: 1/50;
        grid-row: 1;
    }
    .keurweetjegebruiker {
        font-size: 1.2rem;
        grid-row: 1;
        grid-column: 70/100;
        float: right;
    }
    .keurweetjeafbeelding {
        padding: 2px;
        border: 1px solid black;
        width: auto;
        text-align: center;
        margin-top: 10px;
        color: black;
        text-decoration: none;
    }
    .keurweetjetest {
        position: relative;
        float: right;
    }
    .keurweetjeafbeelding:hover{
        background: gray;
    }
    .fa-check-circle, .fa-times-circle {
        font-size: 2em;
        color: black;

    }
    .fa-check-circle:hover{
        font-size: 2em;
        color: green;

    }
    .fa-times-circle:hover{
        font-size: 2em;
        color: red;

    }
    .adminusername {
        width: 90%;
        height: auto;
        padding: 10px;
        background-color: white;
        border-radius: 15px;
        margin-top: 10px;


    }

    .fa-ban {
        z-index: 100;
        position: relative;
        color: black;
        float: right;
    }
    .fa-ban:hover {
        color: red;
    }



